.user-guide-modulo-filter{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.5);
    z-index: 500;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-guide-modulo-content{
    height: 80%;
    width:80%;
    z-index: 501;
    border-radius: 1rem;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.user-guide-temp-title{
    color: rgba(0,0,0,0.5);
}