.quizcard{
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.25)) drop-shadow(3px 5px 12px rgba(0, 0, 0, 0.25));
    border-radius: 1rem;
    display:flex;
    margin: 5rem 10rem;
    flex-direction: column;
    background-color: white;

}

.quizcard:hover{
    box-shadow: 0 0 0 1px grey;
    cursor: pointer;
}

.card-image{
    width:36rem;
    height:auto;
    border-radius: 10px 10px 0 0;
}

.quizcard-img-wrapper{
    height:15rem;
}

.quizcard-info-wrapper{
    width:36rem;
    height:6rem;
    background-color: white;
    border-radius: 0 0 10px 10px;
}

.quizcard-title{
    font-size: 18px;
    margin: 0 1rem;
}

.quizcard-progressionbar{
    width:15rem;
    height:0.7rem;
    margin: 0 1rem;
    border-radius: 0.5rem;
    display:inline-block;
}

.quizcard-continue{
    float: right;
    font-size: 1.6rem;
    text-decoration: underline;
    margin: 0 1rem;
}

.quizcard-subtext-span{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0.5rem;
}