.new-quiz-page {
    height:100%;
    width:100%;
    background-color: white;
}

.new-quiz-button-wrapper {
    width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 2%;
}

.new-quiz-button {
    width: 7%;
}