.feedback-quiz {
    min-height:100%;
    min-width:100%;
    display:flex;
    flex-direction: column;
    background-color: #ffffff;
}

.feedback-question-number {
    font-size: 4rem;
    margin: 3% 0 0 10%;
}

.feedback-question-title {
    font-weight: 500;
    font-size: 3rem;
    margin: 2% 0 0 10%;
}

.feedback-textfield-wrapper {
    align-self: center;
    display:flex;
    width: 70%;
    margin: 4% 0 3% 0;
    justify-content: space-between;
}

.feedback-radio-wrapper {
    align-self: center;
    display:flex;
    width: 70%;
    margin: 4% 0 3% 0;
}

.feedback-textfield {
    width: 45%;
}

.feedback {
    font-size: 4rem;
    align-self: center;
    font-weight: bold;
    display: flex;
    align-items: center;
    letter-spacing: 1px;
    margin-bottom: 5%;
    color: #5B5B5B;
}

.main-feedback-wrapper {
    height: 60%;
    width: 100%;
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: column;
}

.feedback-correct {
    color: #48e073;
}

.feedback-incorrect {
    color: #f63e3e;
}

.feedback-partial {
    color: #f0c11b;
}
