.new-question {
    width: 100%;
    height: 100%;
}

.question-number {
    font-size: 4rem;
    margin: 2vh 0 1% 5%;
}

.main-question-content-wrapper {
    width: 100%;
    height: 100%;
}

.main-question-content {
    width: 50%;
    height: 100%;
    margin-left: 5%;
}

.question-textfield {
    width: 60%;
}

.question-textfield label {
    font-size: 1.8rem;
    background-color: white;
    padding-right: 6px;
    font-weight: bold;
}

.MuiFormControlLabel-label	 {
    font-size: 1.5rem;
}

.MuiInputBase-root {
    font-size: 1.5rem;
}