.full-notification {
    display: flex;
    height: 20rem;
    background-color: #ECECEC;
    width: 90%;
    filter: drop-shadow(0px 2px 3px rgba(0, 0, 0, 0.25)) drop-shadow(3px 5px 12px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    margin: 1rem 0;
}

.notification-icon {
    align-self: center;
    margin: 0 2rem;
}

.notification-text-wrapper {
    display: flex;
    flex-direction: column;
}

.notification-text-wrapper span {
    margin-bottom: 1rem;
}

.notification-title {
    font-size: 2.5rem;
    margin: 1rem 0 0.5rem 0;
}

.notification-message {
    color: #505050;
    font-size: 1.5rem;
    font-weight: 600;
    margin: 0;
}

.notification-qaf {
    font-weight: bolder;
    color: #505050;
}

.notification-detail {
    font-size: 1.5rem;
}

.notification-top-wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.notification-top-wrapper span {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 0.5rem;
}


.go-to-question-link{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    font-size: 2rem;
    font-weight: bold;
    text-decoration: underline;
    cursor: pointer;
}