.grading-question {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2%;
}

.question-text {
    margin-left: 3%;
    font-size: 2rem;
    font-weight: 500;
}

.answer-text {
    align-self: center;
    margin-top: 3vh;
    width: 70%;
}

.feedback-text {
    align-self: center;
    margin: 7% 0 8% 0;
    width: 70%;
    height: 20%;
}

.credit-label {
    font-size: 1.8rem;
    font-weight: 500;
    align-self: center;
    margin-right: 1rem;
    color: rgba(0, 0, 0, 0.7);
}

.credit-radio-wrapper {
    display: flex;
    justify-content: center;
}

.submit-feedback-button {
    width: 35%;
    margin-top: 2%;
    align-self: center;
}

.grading-feedback-list{
    color: #1C5BA5;
    margin-left: 3%;
    font-size: 2rem;
    font-weight: 500;
}
.grading-quiz-feedback-list{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.grading-quiz-feedback-list::-webkit-scrollbar{
    width:0;
    height: 0;
}

.feedback-list-item-wrapper{
    width: 90%;
    max-width: 90%;
    margin: 1rem 0 1rem 0;
    max-height: 10rem;
    border-radius: 8px;
    border: 1px solid #5B5B5B;
    box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.30);
    display: flex;
    flex-direction: row;
    transition: background-color 0.2s ease-in-out;
}
.copy-feedback-list-button{
    height:100%;
    width: 15%;
    background-color: #1976D2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 8px 8px 0;
    border-left: solid #5B5B5B 1px;
    cursor: pointer;

}

.feedback-list-text-item{
    font-size: 2rem;
    max-width: 85%;
    width: 85%;
    margin: 1rem 0 1rem 2rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
