.notificationBell {
    position: relative;
    height: 100%;
}

.bell {
    cursor: pointer;
    padding: unset;
    height: 100%;
}

.inverted-bell {
    background-color: white;
    color: #00509e;
}

.notificationBubble {
    position: absolute;
    background-color: red;
    height: 1.3rem;
    width: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    top: 4px;
    right: 5px;
    border: solid 2px #00509e;
}

#notificationAmount {
    font-size: 1rem;
    font-weight: bold;
}