.position-wrapper{
    background: rgba(0, 0, 0, 0.4);
}


.login-wrapper{
    z-index: 1;
    width: 33rem;
    height: 44rem;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-fields{
    align-self: center;
    display: flex;
    flex-grow:1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 25rem;
    height: 6rem;
}
.login-fields label{
    float: left;
    width: 100%;
    margin-top: 3rem;
    font-weight: 600;
    font-size: 1.4rem;
}

.login-form-field{
    width:25rem;
    height:3rem;
    border-radius: 5px;
}

.login-form-submitButton{
    border-radius: 5px;
    background-color: #1C5BA5;
    color: white;
    font-family: "Trebuchet MS";
    width: 16.5rem;
    height: 3.7rem;
    border:0;
    align-self: center;
    cursor: pointer;
}
.login-submit-wrapper{
    display: flex;
    flex-grow:1;
    flex-direction: column;
    color: white;
    font-family: "Roboto";
    align-self: center;
    justify-content: flex-end;
    /*border:2px solid black;*/
}
.login-submit-wrapper p{
    color:black;
    font-size: 1rem;
    text-align: center;
}


.position-wrapper{
    min-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.sign-up-link{
    cursor: pointer;
    color:#1C5BA5;
    text-decoration: underline;
}
